table {
  border-spacing: 0;
  width: max-content;
  height: max-content;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.colorPicker {
  width: 100%;
}
h2 {
  margin: 0;
  margin-right: 5em;
  display: inline;
}
.colorInput {
  display: inline;
}
td {
  width: 3em;
  height: 3em;
  border: 0.5px solid black;
  transition: background-color 0.5s;
}
